*{
    box-sizing: border-box;
}
body{
    margin: 0%;
}
h1{
    text-align: center;
    margin-bottom: 3%;
}
div{
    width: 87.24%;
    margin: 0 5% 2% 5%;
    background-color: grey;
    border: 2px solid black;
    
    
}
h2{
   color: white;
    float: right;
    margin: 0%;
    border-width: 0px 0px 2px 2px;
    border-color: black;
    border-style: solid;
}
#chickenPara{
    background-color: rgb(40, 78, 136);
    padding: 0% 4%;
}
#beefPara{
    background-color: rgb(128, 85, 30);
    padding: 0% 7%;
}
#sushiPara{
    background-color: teal;
    padding: 0% 7%;
}
p{
    padding: 0% 2% 0.5%;
    margin-bottom: 0%;
    clear: both;
}
@media (min-width: 992px) {
    div{
        width: 30%;
        
        float: left;
    }
    #chicken{
        margin: 2% 2.5% 10% 2.5%;
    }
    #beef{
        margin: 2% 2.5% 10% 0%;
    }
    #sushi{
        margin: 2% 2.5% 10% 0%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    div{
        float: left;
    }
    #chicken{
        width: 47%;
        margin: 0% 2% 2% 2%;
    }
    #beef{
        width: 47%;
        margin: 0% 2% 2% 0%;
    }
    #sushi{
        width: 96%;
        margin: 0% 2% 0% 2%;
    }
}